In [1]:
import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df_movies  = pd.read_csv("./Datasets/Movies.csv")
df_links   = pd.read_csv("./Datasets/Links.csv")
df_tags    = pd.read_csv("./Datasets/Tags.csv")
df_ratings = pd.read_csv("./Datasets/Ratings.csv")

In [3]:
user_item_matrix = df_ratings.pivot_table(index='userId', columns='movieId', values='rating').fillna(0)
user_item_matrix.head()

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
item_similarity = cosine_similarity(user_item_matrix.T)

item_similarity_df = pd.DataFrame(item_similarity, 
                                  index = user_item_matrix.columns, 
                                  columns=user_item_matrix.columns)

item_similarity_df

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.410562,0.296917,0.035573,0.308762,0.376316,0.277491,0.131629,0.232586,0.395573,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.410562,1.000000,0.282438,0.106415,0.287795,0.297009,0.228576,0.172498,0.044835,0.417693,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.296917,0.282438,1.000000,0.092406,0.417802,0.284257,0.402831,0.313434,0.304840,0.242954,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.035573,0.106415,0.092406,1.000000,0.188376,0.089685,0.275035,0.158022,0.000000,0.095598,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.308762,0.287795,0.417802,0.188376,1.000000,0.298969,0.474002,0.283523,0.335058,0.218061,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193583,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193585,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193587,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0
193609,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.072542,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [5]:
item_similarity_df.mean(axis=1)

movieId
1         0.103499
2         0.098871
3         0.070322
4         0.012067
5         0.053418
            ...
193581    0.006650
193583    0.006650
193585    0.006650
193587    0.006650
193609    0.002364
Length: 9724, dtype: float64

In [6]:
item_similarity_df.min(axis=1)

movieId
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
         ...
193581    0.0
193583    0.0
193585    0.0
193587    0.0
193609    0.0
Length: 9724, dtype: float64

In [7]:
item_similarity_df.max(axis=1)

movieId
1         1.0
2         1.0
3         1.0
4         1.0
5         1.0
         ...
193581    1.0
193583    1.0
193585    1.0
193587    1.0
193609    1.0
Length: 9724, dtype: float64

In [8]:
def recommend_movies ( user_id,
                      user_item_matrix,
                      item_similarity_df,
                      top_n = 10
                     ):
    rated_movies = user_item_matrix.loc[user_id]
    rated_movies = rated_movies[rated_movies > 0 ].index.tolist()
    
    sim_scores = item_similarity_df[rated_movies].sum(axis=1)
    
    sim_scores = sim_scores.drop(index=rated_movies)
    recommend_movie_ids = sim_scores.sort_values(ascending = False).head(top_n).index
    recommend_movies = df_movies[df_movies["movieId"].isin(recommend_movie_ids)]
    
    return recommend_movies

In [9]:
user_id_sample = 2

In [10]:
recommend_movies_sample = recommend_movies(user_id_sample, user_item_matrix, item_similarity_df, top_n = 5)
recommend_movies_sample

      movieId                       title                       genres
2226     2959           Fight Club (1999)  Action|Crime|Drama|Thriller
5917    33794        Batman Begins (2005)            Action|Crime|IMAX
6743    59315             Iron Man (2008)      Action|Adventure|Sci-Fi
7043    69122        Hangover, The (2009)                 Comedy|Crime
7413    80463  Social Network, The (2010)                        Drama